* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    --white-primary: #ffffff;
    --white-secondary: #f8f8ff;
    --white-tertiary: #f4f4ff;
    --red: #e45858;
    --blue: #6246ea;
    --blue-hover: #4225d4;
    --gray: #7c7c8a;
    --gray-secondary: #858793;
    --black: #121214;
    --stroke-white: #eaeaea;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    transition: background 0.2s;
    cursor: pointer;
    padding: 0.4rem 2.4rem;
    border-radius: 0.5rem;
}

.primary {
    background: var(--blue);

    color: var(--white-primary);
}

.primary:hover {
    background-color: var(--blue-hover);
    color: var(--white-primary);
}

.secondary {
    color: var(--blue);
    background: transparent;
}

.secondary:hover {
    background: var(--white-tertiary);
}

body {
    font-size: 1.6rem;
}

input,
select,
button {
    font-family: 'Roboto', sans-serif;
    all: unset;
}

header {
    min-height: 53.2rem;
    background: var(--white-secondary);

    position: relative;
    overflow: hidden;

    display: grid;
    place-content: center;
}

header .content .top {
    text-align: center;
}

header::before {
    content: '';
    background-image: url(../assets/ilustra-01.svg);
    width: 40.7rem;
    height: 34.5rem;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

header::after {
    content: '';
    background-image: url(../assets/ilustra-02.svg);
    width: 41.4rem;
    height: 33rem;
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: -1.2rem;
}

header .content {
    width: fit-content;
    position: relative;
    z-index: 1;

    padding: 10rem 0;
}

header p {
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--red);
}

header h1 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 125%;
    color: var(--black);
    max-width: 64.7rem;
    margin: 1.8rem auto 0;
}

header h1 span {
    color: var(--blue);
}

form {
    margin-top: 4rem;

    display: flex;
    padding: 4rem;
    gap: 2.4rem;
    background-color: var(--white-primary);
    border: 0.1rem solid var(--stroke-white);
    border-radius: 1rem;
}

.search-field {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background: var(--white-tertiary);
    border-radius: 0.5rem;
    padding: 1.2rem 0.8rem 1.2rem 1.4rem;
}

input,
select {
    color: var(--gray);
    min-width: 29rem;
}

.search-field i {
    color: var(--red);
    font-size: 2.4rem;
}

select,
.select {
    position: relative;
}
select {
    z-index: 1;
}

.select i.ph-caret-down {
    position: absolute;
    right: 1rem;
    z-index: 0;
    color: var(--gray-secondary);
}

form button.btn {
    padding: 1.2rem 3.2rem;
}

main > .content {
    max-width: 1200px;
    margin: 10rem auto;
}

section.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.top .view {
    display: flex;

    padding: 0.8rem;
    border: 0.1rem solid var(--stroke-white);
    border-radius: 0.6rem;
}

section.cards {
    margin-top: 4rem;
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    border: 1px solid var(--stroke-white);
    border-radius: 10px;
    max-width: 38.4rem;
    overflow: hidden;
}

.card .content {
    display: grid;
    gap: 1.6rem;
    padding: 1.6rem;
}

.card h3 {
    color: var(--black);
}

.card p {
    opacity: 0.75;
}

.card .location {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.location i {
    color: var(--red);
    font-size: 2.4rem;
}

main {
    padding-inline: 4rem;
}

/*Responsividades*/

@media (max-width: 1024px) {
    :root {
        font-size: 50%;
    }
    header::before {
        background-size: 30vw;
        background-repeat: no-repeat;
    }
}

@media (max-width: 870px) {
    header .content {
        padding: 4rem;
    }

    header form {
        flex-direction: column;
    }
}

@media (max-width: 660px) {
    section.cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    section.cards {
        grid-template-columns: 1fr;
    }

    .card {
        max-width: 100%;
    }

    .card img {
        width: 100%;
    }
}

/*Estilizando scrollbar*/
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--white-tertiary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 20px;
    border: 3px solid var(--white-tertiary);
}
