* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white-primary: #ffffff;
    --white-secondary: #f8f8ff;
    --white-tertiary: #f4f4ff;
    --red: #e45858;
    --blue: #6246ea;
    --blue-hover: #4225d4;
    --gray: #7c7c8a;
    --stroke-white: #eaeaea;
}

body {
    font-family: "Roboto", sans-serif;
    height: 900px;
}

header {
    width: 100%;
    background: var(--white-secondary);
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 0;
    gap: 40px;
}

.content-text {
    padding: 0 173px;
}

.content h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}

.content > div > span {
    font-weight: 500;
    color: var(--red);
    text-transform: uppercase;
    line-height: 160%;
}

.content h1 span {
    color: var(--blue);
}

/*Content Busca*/
.content-busca {
    background: var(--white-primary);
    border: 1px solid var(--stroke-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 24px;
    border-radius: 10px;
}

.content-busca input,
.content-busca select {
    width: 348px;
    background: var(--white-tertiary);
    border: none;
    border-radius: 5px;
    padding: 16px 14px;
}

.content-busca input::placeholder,
.content-busca select {
    color: var(--gray);
    font-size: 16px;
    line-height: 100%;
}

.content-busca button {
    background: var(--blue);
    color: var(--white-primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.2s;
}

.content-busca button:hover {
    background: var(--blue-hover);
}

/*Imagens Header*/
#img_01 {
    top: 0;
    left: 0;
    position: absolute;
}

#img_02 {
    bottom: 0;
    right: 0;
    position: absolute;
}
main {
    margin: 100px 112px;
}

.header-main {
    display: flex;
    justify-content: space-between;
}

.header-main h2 {
    font-size: 32px;
    line-height: 140%;
}

.header-main > div {
    border: 1px solid var(--stroke-white);
    border-radius: 6px;
}

.header-main > div {
    border: 1px solid var(--stroke-white);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.btn-enabled,
.btn-disabled {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding: 4px 24px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-enabled {
    background: var(--blue);
    color: var(--white-primary);
}

.btn-enabled:hover {
    background: var(--blue-hover);
}

.btn-disabled {
    background: transparent;
    color: var(--blue);
}

.btn-disabled:hover {
    background: var(--white-tertiary);
    color: var(--blue);
}
